<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

    <div ng-controller="myController">
        <h1>{{message}}</h1>
        <input type="text" ng-model="message">
        <button type="button" ng-click="clickTest()">Click</button>

        <div test-directive>
        </div>

        <div ng-repeat="tab in table">
            <table class="w3-table-all">
                <thead>
                    <tr class="w3-red">
                        <th>Name</th>
                        <th>Models</th>
                    </tr>
                </thead>
                <tr>
                    <td>{{tab.name}}</td>
                    <td ng-repeat="ta in tab.models">
                        <p>{{ta}}</p><br>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>